---
title: Carve Twenty Two
---

#hero
  %p= "We are on #{ link_to('Facebook', 'https://www.facebook.com/carvetwentytwo', target: '_blank') }"
  - if Date.today <= Date.parse('10.04.2015')
    %p= "Come to our #{ link_to('Gallery Opening', 'https://www.facebook.com/events/1414693778838437/', target: '_blank') }"
    %p= "@#{ link_to('261/23 Sukhumvit Soi 22', 'https://www.google.com/maps/place/Carve+Twenty+Two/@13.72963,100.565339,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x8428667e22fa1be5', target: '_blank') }"
#logo-wrapper
  = image_tag('carve-twenty-two.png')
